
/* Medium desktop :992px. */
@media (min-width: 1200px) and (max-width: 1500px) {
.reservation .bg-img-1 {
  background-position: -150px top;
} 
.offer-section .bg-img {
  background-position:  0 center;
}    
.ptb-100 {
  padding: 80px 0;
}
.boxed-layout .wrapper {
  width: 1180px;
}
.boxed-layout .sticky {
  width: 1180px;
}
    
    
    
    
    
    
}

/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1199px) {
.menu ul li a {
  font-size: 14px;
  padding: 39px 0 39px 26px;
} 
.sticky .menu ul li a {
  padding: 39px 0 39px 26px;
}   
.foode-item-box ul li a {
  padding: 59px 12px;
}    
.single-food-price {
  right: 12px;
} 
.header.sticky .logo {
  width: 100%;
}
.sticky .header-right .search {
  padding-top: 36px;
}
.reservation .bg-img-1 {
  background-position: -200px top;
}  
.blog-title {
  margin-left: 10px;
}
.blog-title > h3 {
  font-size: 13px;
}    
.blog-title {
  margin-left: 10px;
}    
.publish-date {
  width: 45px;
}
.publish-date > p {
  font-size: 14px;
}    
.single-blog {
  height: 197px;
}   
.testimonial {
  background-position: 85% 0;
}
.offer-section .bg-img {
  background-position: 35% 0;
}    
.sin-testiImage::before {
  left: 26px;
}    
.ptb-100 {
  padding: 80px 0;
}
.about-description .text-2 {
  display: none;
}
.see-more-video > h3::before {
  width: 68px;
}    
.resta-about {
  padding: 80px 0 140px;
}    
.pt-100{padding-top: 80px}  
.contact-bottom-section .col-md-6.contact-form-div .contact-form {
  width: 485px;
}    
.item2 .food_item_box, .item1 .food_item_box, .item3 .food_item_box {
  background-color: #f1f1f1;
  background-image: none;
}   
.food_item_box ul li a {
  padding: 30px 0;
}    
.food_item_box,.item3 .food_item_box {
  height: 110px;
}    
.item3 .food_item_box ul li {
  margin-top: 0;
}    
.offer-section .bg-img {
  background-position:  0 center;
}    
.blog-thumbnail .blog-title {
  padding: 18px 0;
}    
.blog-thumbnail .blog-title h4 {
  font-size: 13px;
}    
.boxed-layout .wrapper {
  width: 100%;
}
.boxed-layout .sticky {
  width: 100%;
}    
.header-right .search {
   padding-top: 36px;
}    
    
    
   
}

 
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
.middle-text .title-2 h1 {
  font-size: 40px;
}
.header .logo {
  margin-bottom: -21px;
} 
.header.sticky .logo {
  margin-bottom: -15px;
}
.sticky .mean-container a.meanmenu-reveal {
  top: -60px;
} 
.sticky .header-right .search {
  padding-top: 32px;
}    
.welcome-about p.text2 {
  display: none;
}    
.welcome-about p.text1 {
  margin-bottom: 15px;
  margin-top: 15px;
}
.ptb-100 {
  padding: 60px 0;
}    
.fooder-menu-description.float_left .single-food-item {
  padding-right: 0;
}
.fooder-menu-description.float_right .single-food-item {
  padding-left: 0;
}    
.single-food-price {
  left: 0;
  position: inherit;
  right: auto;
  top: 3px;
}    
.single-food-item-desc {
  padding: 8px 25px 8px 20px;
}    
.single-food-item-title {
  margin-top: 11px;
}
.single-food-price > p {
  font-size: 20px;
}
.food-img {
  margin: 24px 0;
}
.foode-item-box::before, .foode-item-box::after {
  display: none;
}
.foode-item-box ul li a {
  padding: 40px 17px;
}    
.foode-item-box {
  height: inherit;
}    
.reservation .bg-img-1 {
  background-position: -204px 95px;
}
.reserve-form {
  padding: 80px 35px 80px 100px;
}    
.reserve-form {
  padding: 80px 0 80px 50px;
}    
.blog-desc {
  bottom: 8px;
}    
.testimonial {
  background-position:  80% -14px ;
}
.sin-testiImage::before {
  left: 42px;
}
.single-test-text {
  padding: 60px;
}    
.single-footer {
  height: 260px;
}    
.single-footer-details.mt-30 {
  margin-top: 18px;
}    
.single-footer-details ul {
  padding-top: 0;
}    
.instagram .single-footer-details.mt-30 {
  margin-top: 25px;
} 
.welcome-about h3.title_2 {
  line-height: 21px;
}    
.about-resta-details {
  padding: 40px;
  position: inherit;
  top: 0;
  width: 100%;
}
.about-rest-img {
  float: none;
  margin-top: 40px;
  width: 100%;
} 
.about-rest-img > img {
  width: 100%;
}    
.resta-about {
  padding: 60px 0;
}    
.pt-100 {
  padding-top: 60px;
}    
.choose-us-desc {
  padding: 120px 0 60px;
}    
.contact-bottom-section .col-md-6.contact-form-div .contact-form {
  margin-bottom: 40px;
  padding-left: 30px;
  padding-right: 30px;
  width: inherit;
}
.contact-bottom-section .col-md-6.map-div {
  padding-left: 0;
}
.item2 .food_item_box, .item1 .food_item_box, .item3 .food_item_box {
  background-color: #f1f1f1;
  background-image: none;
}   
.food_item_box ul li a {
  padding: 30px 0;
}    
.food_item_box,.item3 .food_item_box {
  height: 110px;
}    
.item3 .food_item_box ul li {
  margin-top: 0;
}     
.offer-section .bg-img {
  background-position:  0 center;
}    
.blog-thumbnail .blog-title h4 {
  font-size: 13px;
}
.blog-title {
   margin-left: 10px;
  padding: 18px 0;
}    
.blog-right-sidebar {
  margin-top: 60px;
}    
.widget-title > h3 {
  font-size: 30px;
} 
.recent-post-thumbnail > img {
  height: inherit;
  width: 100%;
}    
.widget-video {
  position: relative;
  width: 270px;
}    
.boxed-layout .wrapper {
  width: 100%;
}
.boxed-layout .sticky {
  width: 100%;
} 
.slider-content {
  padding: 150px 0;
}
    
    
}


@media (max-width: 767px) {
/*.container {width: 319px;}*/

.carousel-indicators {
  display: none;
}

.header-right .search {
  display: none;
}  

.header .logo {
  max-width: 78%;
  margin-bottom: -58px;
} 

.header.sticky .logo {
  margin-bottom: -15px;
}
.mean-container a.meanmenu-reveal {
  left: auto !important;
  top: -45px;
}

.carousel{
 top: -10px;
}

.product-detail h5 {
    margin-left: 40px;
    font-size: 16px;
}

.img-bg {
  background: url(../images/assets_web_malond/bg_1.png) no-repeat left fixed;
   -webkit-background-size: cover;
}

.slide1-text,.slide2-text,.slide3-text {
    text-align: center;
}
.middle-text .title-1 h2 {
  margin-bottom: 6px;
}
.middle-text .title-1 h2 {
  font-size: 24px;
}
.middle-text .title-2 h1 {
  display: none;
}
.middle-text p {
   display: none;
}
.middle-text .order-now a {
  font-size: 13px;
  padding: 7px 15px;
}
.middle-text .order-now {
  margin-top: 5px;
}
.slider-container .nivo-controlNav {
  bottom: 5px;
}
.nivo-controlNav a.active {
  font-size: 20px;
}
.nivo-controlNav a {
  font-size: 14px;
}
.slide3-text {
  margin-right: 0;
}   
.ptb-100 {
  padding: 35px 0;
}    
.welcome-about h2.title_1 {
  font-size: 30px;
}    
.welcome-about h3.title_2 {
  font-size: 14px;
   line-height: 20px;
   font-weight: 600;
    font-family: initial;
}    
.welcome-about p.text2 {
  display: none;
}    
.welcome-about-img {
  margin-top: 30px;
}    
.popular-dishes .bg-img-2 {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}    
.popular-dishes {
  background: #f1f1f1 none no-repeat scroll left bottom;
}    
.section-title > h2 {
  font-size: 28px;
}    
.section-title {
  margin-bottom: 35px;
}    
.welcome-about .read-more > a {
  padding: 3px 24px;
  /* display: none; */
  font-size: 18px;
  margin-top: -20px;
}    
.single-disesh {
  margin-bottom: 35px;
  padding: 20px;
}    
.foode-item-box::before, .foode-item-box::after {
  display: none;
}    
.foode-item-box {
  height: 100px;
  margin-bottom: 40px;
}    
.foode-item-box ul li a {
  font-size: 13px;
  padding: 15px 8px;
}    
.food-img {
  float: none;
  margin: 12px 0;
  width: 100%;
}
.food-img {
  float: none;
  width: 100%;
}    
.single-food-item-desc {
  border-left: medium none;
  border-top: 1px solid #ddd;
  float: none;
  padding: 18px 0 0 10px;
  text-align: center;
  width: 100%;
}    
.fooder-menu-description.float_left .single-food-item {
  padding-right: 0;
}    
.single-food-item-title h2 {
  font-size: 14px;
   margin-bottom: 0;
}    
.single-food-price {
  margin-top: 5px;
  position: inherit;
  right: auto;
  top: 0;
}    
.single-food-price > p {
  font-size: 20px;
} 
.fooder-menu-description.float_right .single-food-item {
  padding-left: 0;
  margin-top: 35px;
}    
.our-gallery {
  background-image: none;
}
.our-gallery .bg-img-2 {
  background-image: none;
  padding-bottom: 0;
  padding-top: 35px;
}    
.gallery-menu.mb-60 {
  margin-bottom: 35px;
}    
.gallery-menu ul li {
  margin-bottom: 6px;
  margin-left: 18px;
} 
.reservation .bg-img-1 {
  background: rgba(0, 0, 0, 0) none no-repeat scroll left top;
}    
.reserv-section-inner .bg-img {
  right: 0;
}
.reserve-form {
  background: rgba(255, 255, 255, 0.7) none repeat scroll 0 0;
  padding: 75px 14px;
  width: 100%;
}
.reserv-title.mb-60 {
  margin-bottom: 25px;
}
.reserve-submit.mt-40 {
  margin-top: 21px;
}
.publish-date {
  padding: 15px 0;
  width: 45px;
}    
.publish-date > p {
  font-size: 14px;
}    
.blog-title {
  margin-left: 5px;
}    
.blog-title > h3 {
  font-size: 12px;
}    
.single-blog {
  /*height: 190px;*/
  margin-bottom: 35px;
}
.testimonial {
  background: rgba(0, 0, 0, 0) none no-repeat scroll right top;
}    
.single-test-text {
  padding: 20px 11px;
}    
.testimonial-text-slider.slick-dotted.slick-slider {
   margin-top: 15px;
}    
.test-title.mb-50 {
  margin-bottom: 20px;
}    
.testimonial-sliders .slick-dots {
  bottom: 15px;
}    
.single-team {
  padding: 0 10px;
}    
.offer-inner h2.ttle2 {
  font-size: 20px;
}    
.single-footer-details.mt-30 {
  margin-top: 15px;
}    
.single-footer {
  margin-bottom: 20px;
  overflow: hidden;
}    
.single-footer.newsletter {
  margin-bottom: 0;
}    
.breadcrubs {
  padding: 65px 0;
}
.about-resta-details {
  padding: 25px;
  position: inherit;
  top: 0;
  width: 100%;
}    
.about-description p.text-1 {
  margin-bottom: 15px;
}    
.see-video {
  display: none;
} 
.about-rest-img,.about-rest-img img {
  width: 100%;
} 
.about-rest-img{
  margin-top: 30px;
}    
.resta-about {
  padding: 35px 0;
}    
.single-fun-factor,.single-choose,.single-member {
  margin-bottom: 35px;
}    
h2.counter {
  font-size: 30px;
  margin-top: 15px;
}    
.fun-factor .row .col-xs-12:last-child .single-fun-factor,.choose-us-desc  .row .col-xs-12:last-child .single-choose,.our-team-area .row .col-xs-12:last-child .single-member {
  margin-bottom: 0;
} 
.pt-100 {
  padding-top: 35px;
}    
.choose-us-desc {
  margin-top: -30px;
  padding: 65px 0 35px;
}    
.ptb-80{padding: 35px 0}   
.our-blog-pages .row .col-xs-12:last-child .single-blog {
  margin-bottom: 0;
}   
.single-gallery-hover > span {
  font-size: 26px;
  line-height: 65px;
}
.single-gallery-hover {
  height: 65px;
  margin-top: -32px;
} 
.our_gallery .row .col-xs-12 .single-gallery-img {
  margin-bottom: 30px;
}   
.our_gallery .row .col-xs-12:last-child .single-gallery-img {
  margin-bottom: 0;
}     
.contact-bottom-section .col-md-6.contact-form-div .contact-form {
  margin-bottom: 40px;
  padding-right: 15px;
  width: 100%;
  padding-left: 15px;
}
.contact-bottom-section .col-md-6.map-div {
  padding-left: 0;
}    
.single-contact-information {
    margin-bottom: 30px;
}
.contact-information .row .col-xs-12:last-child .single-contact-information {
    margin-bottom: 0;
}
.error-content h2 {
  font-size: 115px;
}
.error-content > h3 {
  font-size: 32px;
}    
.error-content h4 {
  font-size: 20px;
  line-height: 30px;
}    
.error-content > p {
  display: none;
}    
.item2 .food_item_box, .item1 .food_item_box, .item3 .food_item_box {
  background-color: #f1f1f1;
  background-image: none;
}   
.food_item_box ul li a {
  font-size: 20px;
  padding: 19px 0;
}    
.food_item_box, .item3 .food_item_box {
  height: 70px;
}   
.item3 .food_item_box ul li {
  margin-top: 0;
}
.food_item_box ul li {
  margin-left: 27px;
}    
.mb-55,.mb-60 {
  margin-bottom: 35px;
}    
.pb-80{padding-bottom: 35px}     
.offer-section .bg-img {
  background-image:  none;
}    
.choose-us {
  background-image: none;
}    
.blog-thumbnail .blog-publish {
  display: none;
}
.blog-share-social, .cheaf-quote-social {
  position: inherit;
}    
.cheaf-quote-img,.cheaf-quote-img  img,.cheaf-quote-desc,.blog-comment-img,.blog-comment.reply .blog-comment-img,.blog-comment.reply .blog-comment-desc,.blog-comment-desc {
  width: 100%;
}    
.cheaf-quote-desc {
  padding: 35px 10px 35px 20px;
}
.blog-comment-box {
  margin-top: 40px;
}    
.cheaf-quote-text > p {
  font-size: 14px;
}    
.blog-comment-img img {
  float: left;
}
    
.blog-comment-desc {
  padding-left: 0;
  margin-top: 30px;
}    
.blog-comment-img > img {
  width: 100px;
}    
.blog-comment-form.mt-40 {
  margin-top: 0;
}    
.comment-title > h3 {
  margin-bottom: 35px;
}    
.comment-input .input-field {
  padding-left: 0;
  width: 100%;
  margin-bottom: 30px;
}    
.comment-input {
  margin-bottom: 0;
}    
.blog-comment-form .submit > button {
  padding: 15px 0;
}    
.blog-right-sidebar {
  margin-top: 30px;
}    
.blog-details-page .bg-img {
  background: none;
}
.boxed-layout .wrapper {
  width: 100%;
}
.boxed-layout .sticky {
  width: 100%;
}  
.slider-content {
  padding: 80px 0;
} 
.slider-content .middle-text .title-2 h1 {
  display: block;
  font-size: 20px;
}    
.alert {
  line-height: 20px;
}    
.properties-video {
  margin-bottom: 30px;
}    

.text_helper_normal {
  font-size: 30px;
  margin-top: 30px;
  line-height: 30px;
}

.testimonial-style .testimonial-caption-style {
    top: -4%;
}

.text-testimoni {
    font-size: 17px;
}

.text_helper {
  font-size: 23px;
  text-align: center;
  line-height: 30px;
}

.img-contac {
  max-width: 40%;
  margin: 0 auto;
}

.list-keunggulan {
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

.title-sertifikasi .title-mui {
    float: none;
    position: relative;
    bottom: 89px;
    margin-left: 120px;
    font-size: 23px;
    line-height: 40px;
    font-family: -webkit-pictograph;
}

.title-sertifikasi {
    padding: 30px;
     margin-left: 0px; 
}

.title-sertifikasi .title-mui {
    font-size: 23px;
    line-height: 25px;
    font-family: -webkit-pictograph;
}

.title-sertifikasi .title-ugm {
    margin-left: 118px;
    font-size: 15px;
    font-family: -webkit-pictograph;
}

.img-sertifikasi {
    position: relative;
    margin-top: -135px;
    margin-left: 15px;
    padding: 30px;
}

.box-kandungan {
   width: 83%;
    margin-left: 40px;
    font-size: 20px;
    font-weight: 700;
    padding: 16px 0px;
    bottom: 35px;
}    

.accordion h3 {
    margin-left: 75px;
    padding: 0px;
    margin-top: 70px;
    display: none;
}

.text-rumahmakan h3 {
    font-size: 25px;
    margin-top: 50px;
}

.our-blog-pages .bg-mg-1 {
    background: url(./images/new_assets/malond.png) no-repeat scroll left bottom;
    background-size: 230px;
    position: relative;
    margin-top: 20px;
    top: 0px;
    left: 0px;
}

.list-distribusi {
    height: 310px;
}

.testimoni {
    padding: 87px 0;
}

.list-distribusi ol {
    padding: -2px;
    line-height: 25px;
    font-size: 15px;
    color: #9e7d5c;
    font-family: -webkit-body;
    margin-left: 0px;
}

.kontak {
    padding: 70px 0;
    position: relative;
    z-index: 9;
}

.properties-video h5 {
    font-size: 24px;
    font-weight: 900;
    margin-top: 0px;
}

.btn-read {
    width: 14em;
}

.product-desc {
    width: 100%;
}
    
 
}
 
/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {width:450px}
.middle-text .title-2 h1 {
  display: block;
}    
.middle-text .title-1 h2, .middle-text .title-2 h1 {
  font-size: 35px;
} 
.header .logo {
  margin-bottom: -16px;
  width: 120px;
}
.mean-container a.meanmenu-reveal {
  top: -62px;
}   
.slider-container .nivo-controlNav {
  bottom: 12px;
}    
.ptb-100 {
  padding: 40px 0;
}    
.welcome-about p.text1 {
  margin-top: 10px;
}    
.dises-list.slick-slider .col-xs-12 {
  width: 50%;
}    
.dises-list.slick-slider .dises-show .col-xs-12:last-child {
  display: none;
}    
.foode-item-box {
  height: 80px;
}    
.foode-item-box ul li a {
  padding: 8px 10px;
} 
.foode-item-box ul.nav {
  margin-top: 7px;
}   
.single-food-item-title h2 {
  font-size: 18px;
}    
.food-img {
  margin: 18px 0;
}    
.gallery-item-box .col-xs-12 {
  float: left;
  width: 50%;
}    
.our-gallery .bg-img-2 {
  padding-bottom: 10px;
}    
.single-blog {
  height: 270px;
}    
.blog-thumbnail img {
  width: 100%;
}    
.blog-title > h3 {
  font-size: 16px;
}   
.publish-date {
  padding: 16px 0;
  width: 55px;
}    
.blog-title {
  margin-left: 15px;
}
.single-footer .open-list li {
  font-size: 13px;
}    
.footer-top .col-xs-12 {
  width: 50%;
}    
.resta-about {
  padding: 40px 0;
}
.about-rest-img {
  margin-top: 40px;
}    
.fun-factor .row .col-xs-12 {
  width: 50%;
}    
.fun-factor.ptb-100 {
  padding-bottom: 0;
}    
.ptb-80{padding: 40px 0}   

.our_gallery .row .col-xs-12 {
    width: 50%;
}
.our_gallery .row .col-xs-12:last-child {
    display: none;
}
 .our_gallery .row .col-xs-12 {
    width: 50%;
}
.our_gallery .row .col-xs-12:last-child {
    display: none;
}
.our_gallery .row .col-xs-12 .single-gallery-img.mb-30 {
  margin-bottom: 30px;
}     
 
.our_gallery .row .col-xs-12 .single-gallery-img {
  margin-bottom: inherit;
}     
.error-content h2 {
  font-size: 140px;
}
.error-content > p {
  display: block;
}    
.mb-55,.mb-60 {
  margin-bottom: 40px;
} 
.pb-80{padding-bottom: 40px}    
.food_item_box ul li a {
  font-size: 28px;
  padding: 15px 0;
}    

.slider-content {
  padding: 120px 0;
}    
.middle-text .order-now {
  margin-top: 12px;
}   
.single-footer {
  height: 270px;
}    
.single-footer .open-list li {
  line-height: 20px;
}    

.text_helper {
  font-size: 30px;
  text-align: center;
}

.img-contac {
  max-width: 40%;
  margin: 0 auto;
}

.list-keunggulan {
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

.title-sertifikasi .title-mui {
    float: none;
    position: relative;
    bottom: 89px;
    margin-left: 120px;
    font-size: 23px;
    line-height: 40px;
    font-family: -webkit-pictograph;
}

.title-sertifikasi {
    padding: 30px;
     margin-left: 0px; 
}

.title-sertifikasi .title-mui {
    font-size: 23px;
    line-height: 25px;
    font-family: -webkit-pictograph;
}

.title-sertifikasi .title-ugm {
    margin-left: 118px;
    font-size: 15px;
    font-family: -webkit-pictograph;
}

.img-sertifikasi {
    position: relative;
    margin-top: -135px;
    margin-left: 15px;
    padding: 30px;
}

.box-kandungan {
   width: 83%;
    margin-left: 40px;
    font-size: 20px;
    font-weight: 700;
    padding: 16px 0px;
    bottom: 35px;
}    

.accordion h3 {
    margin-left: 75px;
    padding: 0px;
    margin-top: 70px;
}

.text-rumahmakan h3 {
    font-size: 25px;
    margin-top: 50px;
}

.our-blog-pages .bg-mg-1 {
    background: url(./images/new_assets/malond.png) no-repeat scroll left bottom;
    background-size: 230px;
    position: relative;
    margin-top: 20px;
    top: 0px;
    left: 0px;
}

.list-distribusi {
    height: 310px;
}

.testimoni {
    padding: 87px 0;
}

.list-distribusi ol {
    padding: -2px;
    line-height: 25px;
    font-size: 15px;
    color: #9e7d5c;
    font-family: -webkit-body;
    margin-left: 0px;
}

.kontak {
    padding: 70px 0;
    position: relative;
    z-index: 9;
}

.properties-video h5 {
    font-size: 24px;
    font-weight: 900;
    margin-top: 0px;
}

.product-desc {
    width: 100%;
}




    
    
    
    
    
 
}